body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding-bottom: 48px;
}

.header-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
}

.logo {
    font-size: 24px;
    color: #f9faf8
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header-content {
    display: flex;
    justify-content: space-around;
    padding-top: 48px;
}

.header-modal {
    width: 400px;
    gap: 8px;
    display: flex;
    flex-direction: column;
}

.header-modal-title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;

}

.header-modal-text {
    font-size: 18px;
    color: #e5e7eb;    
}

.header-modal-button {
    background: #3882f6;
    border: 1px solid #3882f6;
    color: white;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
}

.img-placeholder {
    width: 400px;
    height: 200px;
    background-color: #f0f2f7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #737579;    
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 48px;
}

.info-title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    padding: 40px;
}

.cards {
    display: flex;
    gap: 32px;
}

.card-item {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 8px;
}

.card-img {
    width: 150px;
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 8px;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px 0;
}

.quote-container {
    width: 600px;
}

.quote-container .quote-text {
    font-size: 24px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
}
.author {
    display: flex;
    justify-content: flex-end;
    font-weight: 900;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px 0;
}

.cta-content {
    width: 1000px;
    height: 150px;
    background-color:#3882f6;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cta-modal {
    width: 800px;
    display: flex;
    justify-content: space-between;
}

.cta-modal-left {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cta-modal-title {
    font-size: 24px;
    font-weight: 600;
    color: #f9faf8;
}

.cta-modal-text {
    font-size: 14px;
    color: #e5e7eb;    
}

.cta-modal-sign-up {
    background: #3882f6;
    border: 1px solid #f9faf8;
    color: white;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: 500;
}

.footer {
    background-color: #1f2937;
    padding: 48px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;


}